li {
  border: 1px solid #b6c3ca;
  border-radius: 5px;
  height: 100px;
  padding: 5px 10px;
  padding-top: 3px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.masked-password-container {
  display: flex;
  align-items: center;
  height: 80px;
  width: 80%;
}

.profile-container {
  border-radius: 40px;
  background-color: #0b69ff;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-right: 13px;
}

.profile {
  color: #ffffff;
  font-size: 40x;
  font-family: 'Roboto';
  font-weight: 600;
}

.website {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 400;
  margin-bottom: 0;
}

.name {
  margin-top: 5px;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 400;
  margin-bottom: 0;
}

.stars {
  width: 120px;
}

.delete-btn {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

.delete-icon {
  width: 30px;
}

@media (min-width: 768px) {
  li {
    height: 100px;
    width: 300px;
    margin-right: 15px;
  }
}
